*{
    /* margin: 5px; */
    padding: 0px;
    box-sizing: content-box;
    border-width: 280px;
    
}

strong{
    color: #060d04;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
em{
    color: #fec12b;
}

.mktg{
    max-width: 195px;
    font-weight: 900;
    font-size: 25px;
    margin: 23px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

 .desc{
    font: large;
    max-width: 265px;
    margin: 23px;
}

.citypng {
    display: flex;
    float: right;
    height: 400px;
    padding: 50px;
    border-top: 100px;
    background-color: #fec12b;
    /* background-blend-mode:screen ; */
    /* background-size: cover; */
  
}

.order {
    /* padding: 60px; */
    font-size: 20px;
    background-color:#fec12b;
    border: 1px solid lightblue;
    /* border-left: 10px;
    margin-left: 80px;
    margin-right: 630px; */

}

ul{
    font-weight: "Bold";
    font-size: 20px;
    justify-content: right;
    display: flex;
    flex-direction: row;
}

ul li{
    font-family: 'Courier New';
    font-weight: "Bold";
    list-style-type: none;
    margin-right: 40px;
}

ul li:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}