*{
    /* margin: 5px; */
    padding: 0px;
    box-sizing: content-box;
    /* border: 1px solid rgb(0, 0, 0); */
    /* size: A5; */
    /* border: 1px solid black; */
    
}

body{
    /* width: 1040pt; */
    border: 1px solid black;
} 

.part1{
    width: 1240pt;
}

strong{
    color: #060d04;
    font-style: italic;
    font-size: 45pt;
    font-family: 'Lobster';
}

h1 em{
    color: #fec12b;
    font-family: 'Lobster';
    font-size: 45pt;
}

.mktg{
    max-width: 195px;
    font-weight: 900;
    font-size: 25px;
    margin: 23px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

/* .bdy{
    /* border: 1px solid black; */
    /* width: 940pt;
    height: 600pt;
    margin: 20px;
} */ */

 .desc{
    font: large;
    max-width: 265px;
    margin: 23px;
    font-size: 95px;
    border: 1px solid black;
}

.citypng {
    display: flex;
    float: right;
    height: 600px;
    padding: 130px;
    width: 600px;
    border: 1px solid black;
    /* border-top: 100px; */
    background:linear-gradient(105deg, white 25%, #fec12b 25%);
    /* background-size: 670px 700px; */
    /* background-size; */
    /* background-size: cover; */
    margin-top: -230pt;
    /* background-image: linear-gradient(75deg, orange); */
}

.order {
    font-size: 50px;
    background-color:#fec12b;
    /* border: 1px solid lightblue; */
    border-radius: 50%;
    width: 170pt;
    margin: 30pt;
    border-bottom-right-radius: 0;
    /* border-top: 90px; */
    /* padding: 10pt; */
    border-top: 40pt;
    color: white;
    border: 1px solid black;
    margin-top: 170px;
}

ul{
    font-weight: "Bold";
    font-size: 20px;
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin-top: -40pt;
    border: 1px solid black;
}

ul li{
    font-family: 'Courier New';
    font-weight: "Bold";
    list-style-type: none;
    /* margin-right: 40px; */
    border: 1px solid black;
}

ul li:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}

h2{
    color: #542d32;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}

.options{
    font-size: 20px;
    /* justify-content: right; */
    display: flex;
    flex-direction: row;
    /* margin-top: -40pt; */
    /* margin: 15px; */
    /* border: 1px solid black; */
    padding: 20px;
    width: 1208pt;
    height: 600pt;
    text-align: center;
    background-color:#f7fcf6;
    border: 1px solid black;
}

.burgers {
    border: 1px solid black;
    width: 1300pt;
    height: 250pt;
    margin: 20px;
    border-radius: 5%;
}
 /* img{
    text-align: center; */
/* } */

.delivery {
    border: 1px solid black;
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
}

.meals{
    border: 1px solid black;
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 250pt;
}

header{
    width: 940pt;
    margin: 20px;
}

.menu{
    margin: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    width: 940pt;
    border: 1px solid black;
}

.menu p{
    font-size: 34px;
    font-weight: bold;
}

.menu strong{
    color: #fec12b;
    font-size: 34px;
    font-style: normal;
    font-weight: bolder;
}

.menu:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}

.selection{
    border: 1px solid black;
    width: 940pt;
    text-align: center;
    margin: 20px;
    display: flex;
    /* border-style: inset; */
    /* border-style: groove; */

}

.selection1{
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
    border-style: groove;
    border-style: inset;
}

.selection2{
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
    border-style: groove;
}

.selection3 {
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
    border-style: groove;
}
.selection4{
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
    border-style: groove;
}
.selection5{
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
    border-style: groove;
}
.selection6{
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 5%;
    width: 1300pt;
    height: 320pt;
    border-style: groove;
}
.selections{
    /* border: 1px solid black; */
    width: 940pt;
    text-align: center;
    margin: 20px;
    display: flex;   
    border: 1px solid black;
}
/* h3 img{
    background-color: #e0ece7;
    width: 20pt;
    height: fit-content;
} */

.dd h2{
    /* border: 1px solid black; */
    margin: 20px;
    padding: 50px;
    max-width: 255px;
    font-weight: 900;
    font-size: 45px;
    margin: 23px;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
str{
    color: #f6b300;
    font-weight: 900;
    font-size: 45px;
}

.dd {
    background-color:#f7fcf6;
    /* margin-top: 400px; */
    border: 1px solid black;
    width: 940pt;
    height: 550pt;
    margin: 20px;
}
.dd p{
    margin: 0px;
    padding: 20px;
    margin-left: 53px;
}

.dd img{
    float: right;
    display: flex;
    background-image: url("./Images/double-check2.png");
    margin-right: 290px;
    background-repeat: no-repeat;
}
.more{
    /* margin-top: 250px; */
    background-color: #fec12b;
    /* margin: 20px; */
    border: 1px solid black;
    width: 1240pt;
    height: 600pt;
    margin: 20px;
} 

.more p{
    width: 300pt;
    height: 200pt;
        /* max-width: 355px; */
    font-weight: 900;
    font-size: 42px;
    margin-left: 63px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.dwnimg{
    width: 300pt;
    height: 200pt;
    /* border: 1px solid black; */
    margin: 50px;
}

.mobile{
    margin-right: 80px;
    display: flex;
    float: right;
    height: 600px;
    padding: 50px;
}
.main{
    width: 940pt;
    text-align: center;
    margin: 20px;
    display: flex;
    background-color: #f7fcf6;
}

.end{
    margin: 20px;
    border-radius: 5%;
    /* border-style: groove; */
    width: 200pt;
}

.map{
    margin: 20px;
    border-radius: 5%;
    width: 500pt;
    /* height: 320pt; */
    /* border-style: groove; */
}
.sub{
    margin: 20px;
    border-radius: 5%;
    /* border-style: groove; */
    width: 350pt;
}

.main{
    width: 940pt;
    /* height: 500pt */
}
#endli{
    font-weight: "Bold";
    font-size: 20px;
    list-style-type: none;
    height: 200px;
    width: 300px;
}
.button {
    background-color: #fec12b;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    color: #fdfdfd;
    border: none;
  }
  
  .sm img{
      height: 20px;
      /* display: flex; */
      
  }

  footimg{
      width: 400pt;
      /* border: 1px solid black; */
      margin: 250px;
  }

  dsgn{
      margin: 70px;
      /* border: 1px solid black; */
  }

  #circle {
    width: 20px;
    height: 20px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 30px;
  }

  #circle :hover{
      color: #f6b300;
  }

  #arrow{
    width: 20px;
    height: 20px;
    border: solid #fec12b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-45deg);
    margin: 20px;
    margin-top: 27px;
  }

  .parent{
    /* justify-content: right; */
    display: flex;
    flex-direction: row;
    margin-left:300px ;
  }

  .end strong{
      font-size: 42px;
      margin-bottom: 100px;
  }
  
  .end em{
    font-size: 42px;
    margin-bottom: 100px;
  }
